.row-header{
    margin: 0px auto;
    padding:0px auto;
}
.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400 px;
}
.footer{
    background-color: rgb(140, 166, 223);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    background: #202297;
    color: #ffffff;
}
address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding:30px 0px 0px 0px;
    z-index:0;
}
.navbar-dark{
    background-color: rgb(8, 9, 105);
}
.tab-content{
    border-left: 1px solid  rgb(165, 219, 245);
    border-right: 1px solid rgb(165, 219, 245);
    border-bottom: 1px solid rgb(165, 219, 245);
    padding: 10px;

}

.carousel
{
    background: teal;
}
.carousel-item {
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{
    right:0px;
    position: absolute;
    bottom: 0px;
}